.footer {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); // Mặc định là 5 cột
  gap: 20px;

  span {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
  }

  .image-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .imageone {
      width: 100px;
      height: 50px;
      gap: 5px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }

  // Khi màn hình nhỏ hơn 1024px, giảm xuống 3 cột
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  // Khi màn hình nhỏ hơn 768px, giảm xuống 2 cột
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Khi màn hình nhỏ hơn 480px, giảm xuống 1 cột
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}
