.itemcard {
  width: 87%;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  position: relative;
  .item {
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    margin: 5px;
    width: 220px;
    height: 380px;

    .itemStar {
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      padding: 0 10px;
    }
    .description {
      text-align: left;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .price {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .item:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.slick-prev {
  background-color: gray;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  width: 40px;
  height: 65px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 2;
  margin-left: 25px;
  &:hover {
    background-color: red;
  }
}

.slick-next {
  background-color: gray;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  width: 40px;
  height: 65px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  z-index: 2;
  transform: translatex(-50%);
  &:hover {
    background-color: red;
  }
}
.className {
  padding-right: -10px;
}
.slick-prev::before,
.slick-next::before {
  content: none; /* Ẩn icon mặc định của react-slick */
}

@media screen and (max-width: 1200px) {
  .itemcard {
    width: 1130px;
    margin: 5px;
    .item {
      width: 210px;
      img {
        width: 80px;
        height: 80px;
      }
      // margin: ;
    }
  }
}
