.banner {
  display: flex;
  z-index: 1;
  justify-content: space-between; /* Đảm bảo khoảng cách đều giữa các phần */
  margin-top: 10px;
  margin-bottom: 10px;
  .banner-left {
    width: 67%; /* Thay đổi từ pixel sang phần trăm */
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    img {
      border-radius: 20px;
      width: 100%;
    }

    .slick-prev,
    .slick-next {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      .slick-prev,
      .slick-next {
        color: black;
        background-color: aquamarine;
        opacity: 1;
      }
    }
  }

  .banner-right {
    width: 39%; /* Thay đổi từ pixel sang phần trăm */
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 15px;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  .slick-prev,
  .slick-next {
    display: none !important; /* Ẩn các nút điều hướng mặc định */
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    flex-direction: row; /* Đảm bảo vẫn là hàng ngang */

    .banner-left {
      width: 65%; /* Cả hai phần cùng giảm kích thước */
      margin-right: 10px;
    }

    .banner-right {
      width: 31%; /* Điều chỉnh tỷ lệ phần trăm tương tự bên trái */
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column; /* Chuyển sang dạng cột cho màn hình nhỏ */
    align-items: center;

    .banner-left,
    .banner-right {
      width: 90%; /* Cả hai phần chiếm 90% chiều rộng màn hình */
      margin: 10px 0;
    }
  }
}
