.banner {
  display: flex;
  z-index: 1;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .banner-left {
    width: 74%;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    overflow: hidden;

    img {
      border-radius: 10px;
      width: 100%;
    }

    .slick-prev {
      opacity: 0;
      transition: opacity 0.3s ease;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-right-radius: 35%;
      border-bottom-right-radius: 35%;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }
    .slick-next {
      opacity: 0;
      transition: opacity 0.3s ease;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-left-radius: 35%;
      border-bottom-left-radius: 35%;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 2;
    }

    &:hover {
      .slick-prev,
      .slick-next {
        opacity: 1;
      }
    }
  }

  .banner-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 15px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    flex-direction: row;

    .banner-left {
      width: 65%;
      margin-right: 10px;
    }

    .banner-right {
      width: 31%;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;

    .banner-left,
    .banner-right {
      width: 90%;
      margin: 10px 0;
    }
  }
}
