.footerBottom {
  border-top: 1px solid gray;
  display: grid;
  margin-top: 15px;
  padding-top: 25px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); // Mặc định là 4 cột

  .map {
    border: 2px solid #ed1b24;
    outline: none;
  }

  .footerBottomOne {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .titleFooter {
      width: 100%;
      background-color: #ed1b24;
      display: flex;
      text-transform: uppercase;
      color: aliceblue;
      font-weight: bold;

      .titleTwo {
        background-color: #bf0816;
        width: 10%;
        color: white;
        margin-right: 10px;
        text-align: center;
      }
    }

    .titleThree {
      color: #ed1b24;
      text-transform: lowercase;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .footerContent {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-top: 15px;

      .footerContentOne {
        display: flex;

        .icon {
          font-size: 20px;
        }

        strong {
          margin-left: 5px;
        }
      }
    }

    .icon__Two {
      width: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }
  }

  // Khi màn hình nhỏ hơn 1024px, giảm xuống 2 cột
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Khi màn hình nhỏ hơn 768px, giảm xuống 1 cột
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
