.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  .header-top {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    img {
      width: 17%;
    }
  }
  .button {
    font-weight: bolder;
    background-color: #f72429;
    color: white;
  }
  .form {
    position: relative;
    display: flex;
    width: 52%;
    .input {
      border-color: #f72429;
      border-radius: 2rem;
      width: 100%;
    }

    .search {
      position: absolute;
      right: 0;
      padding: 4px 8px; /* Điều chỉnh khoảng cách nội dung */
      border-top-right-radius: 2rem; /* Tùy chọn bo tròn góc */
      border-bottom-right-radius: 2rem; /* Tùy chọn bo tròn góc */
      width: 50px; /* Chiều rộng nhỏ hơn */
      height: 31px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #f72429; /* Màu nền cho nút, có thể thay đổi theo nhu cầu */
      border: none;
      color: white;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .header-top {
      margin: 5px;
      gap: 5px;
      img {
        width: 150px;
      }
    }

    .header-bottom {
      .icon-header {
        margin: 5px;
      }
    }
  }
}
