.bottom {
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid rgb(73, 66, 66);
  box-shadow: 1px 7px 6px 2px rgb(227, 205, 205);
  .bottom-top {
    display: flex;
    .bottom-one {
      margin-top: 25px;
      margin-bottom: 25px;
      width: 150px;
      margin-right: 5px;
      text-align: center;
      span {
        font-size: 15px;
        font-weight: 900;
      }
      .bottom-icon {
        width: 120px;
        height: 100px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: bisque;
        display: inline-block;
        transition: transform 0.3s ease;
      }
      .bottom-icon:hover {
        transform: scale(0.8);
        background-color: rgb(245, 179, 179);
      }
    }
  }
}
