.bottom {
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid rgb(73, 66, 66);
  box-shadow: 1px 1px 8px 9px rgba(227, 225, 225, 0.79);

  .bottom-top {
    display: flex;
    flex-wrap: nowrap; /* Ngăn chặn việc xuống dòng */
    overflow-x: auto; /* Cho phép cuộn ngang */
    scrollbar-width: none; /* Ẩn thanh cuộn ngang trên Firefox */
    -ms-overflow-style: none; /* Ẩn thanh cuộn ngang trên IE và Edge */
    width: 100%;
    padding: 25px;

    .bottom-one {
      width: 150px;
      margin: 10px;
      text-align: center;

      span {
        font-size: 15px;
        font-weight: 700;
      }

      .bottom-icon {
        width: 120px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #f1eeeb;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(0.8);
          background-color: #fcd5d7;
        }
      }
    }
  }

  /* Ẩn thanh cuộn ngang trên Chrome, Safari, và Opera */
  .bottom-top::-webkit-scrollbar {
    display: none;
  }
}
