.main {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  gap: 15px;
  .item {
    border: 1px solid #c6bebe;
    border-radius: 15px;
    width: 225px;
    height: 370px;
    margin-top: 15px;
    position: relative;
    .itemStar {
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      padding: 0 10px;
    }
    .description {
      text-align: left;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .price {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .item:hover {
    box-shadow: 0 0 10px 0 rgba(105, 105, 105, 0.396);
  }

  .slick-prev {
    background-color: gray;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    width: 40px;
    height: 65px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    margin-left: -5px;
    &:hover {
      background-color: red;
    }
  }

  .slick-next {
    background-color: gray;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    width: 40px;
    height: 65px;
    position: absolute;
    top: 55%;
    margin-right: -5px;
    transform: translateY(-50%);
    z-index: 2;
    &:hover {
      background-color: red;
    }
  }

  .slick-prev::before,
  .slick-next::before {
    content: none; /* Ẩn icon mặc định của react-slick */
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-prev svg,
  .slick-next svg {
    font-size: 20px;
    color: white; /* Màu sắc của icon */
  }
}
